@model PPM.Model.Role

@{
    ViewData["Title"] = "Create Role";
}

<div class="container">
    <h2 class="text-center font-weight-bold text-uppercase">Create New Role</h2>

    <form asp-action="Create" method="post" enctype="application/json">
        <div class="form-group">
            <label asp-for="RoleId" class="font-weight-bold text-uppercase"></label>
            <input asp-for="RoleId" class="form-control" style="margin-top: 5px; border: 1px solid darkslategray;" placeholder="Role ID" />
            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Name" class="font-weight-bold text-uppercase"></label>
            <input asp-for="Name" class="form-control" style="margin-top: 5px; border: 1px solid darkslategray;" placeholder="Role Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success" style="margin-top: 15px;"><i class="bi bi-plus-circle-fill"></i> Create</button>
         <a asp-action="Index" class="btn btn-dark" style="margin-left: 5px;margin-top: 15px;"><i class="bi bi-skip-backward-fill"></i> Back to List</a>
         </div>
    </form>
</div>
