@model PPM.Model.Role

@{
    ViewData["Title"] = "Delete Role";
}


<div class="container text-center">
    <h2 class="mb-4 font-weight-bold text-uppercase">Delete Role</h2>

    <div class="d-flex justify-content-center">
        <dl class="row">
            <dt class="col-sm-2">Role ID:</dt>
            <dd class="col-sm-10">@Model.RoleId</dd>

            <dt class="col-sm-2">Role Name:</dt>
            <dd class="col-sm-10">@Model.Name</dd>
        </dl>
    </div>

    <div class="mt-3 text-center">
        <form asp-action="ConfirmDelete" method="post" asp-route-roleId="@Model.RoleId">
            <input asp-for="RoleId" type="hidden" />

            <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Confirm Delete</button>
            <a asp-action="Index" class="btn btn-dark ml-3"style="margin-left: 5px;" ><i class="bi bi-x-octagon-fill"></i> Cancel</a>
        </form>
    </div>
</div>
